body {

background-color: orange; !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: azure;
    font-size: 30px;
    
    }  
.form{
    border: 100px double orange;
    background-color: red;
    padding: 200px;
    text-align:center;    
}    
table {
    border: 0,5px white solid;
    width: 100%;
  }
  table th {
     
    background-color: yellow;
    color: #f57600;
  }
  table td {
    background-color: #f57600;
    color:red;
  }

  information {
    background-color: orange;
    color:red;
  }