
body {
    background-color: rgb(147, 76, 212);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
     }  

     #botaoB{ text-align: center }
.botaoIrO{
    cursor:pointer;
    width: 350px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid blue;
    border-radius: 6px;
    background-color: lightblue;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: purple;
}
#botaoA{text-align: center}
#botaoIrT{
    cursor:pointer;
    width: 350px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid blue;
    border-radius: 6px;
    background-color: lightskyblue;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: purple;
}