
body {
    background-color: rgb(147, 76, 212);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    
     }  



.bg{
    background: linear-gradient(269deg, #f508d7, #17e60c, #e6a80c, #119a9b, #ceba1b);
    background-size: 1000% 1000%;
    
    -webkit-animation: AnimationName 8s ease infinite;
    -moz-animation: AnimationName 8s ease infinite;
    -o-animation: AnimationName 8s ease infinite;
    animation: AnimationName 8s ease infinite;
    
    
   
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}

@keyframes bounce {
    0%,20%,60%,100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    40%{
        -webkit-transform: translateY(0);
        transform: translateY(-20px);
    }
    80%{
        -webkit-transform: translateY(0);
        transform: translateY(-10px);
    }
}
.botoes{
 
    text-align: center;
    margin-top: 50px;
}

.botaoC{
    cursor:pointer;
    width: 350px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: purple;
background-color:#f18f81;

}
.botaoC:hover{
    animation: bounce 2s;
}

.botaoD{
        cursor:pointer;
        width: 350px;
        font-size: 50px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: purple;
    background-color:#f18f81;
    
}

.botaoD:hover{
    animation:bounce 2s;
}
